@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
    background-image: url("../img/moon.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Raleway';
    margin: 0px;
}

header {
    margin: 0px 0px 20px 0px;
    width: 100%;
    height: 62px;
    background: #000000;
}

.logo {
    width: 12em;
}


/* Contenido principal */


/* Primera pantalla */

.container-maintwostyle {
    width: 480px;
    height: 410px;
    margin-top: 2em;
    margin-bottom: 1.6em;
    padding: 40px;
    text-align: center;
    background-color: rgba(250, 239, 60, 0.7);
}


/* Footer */

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
    color: white;
}


/* ------------------------------------- */


/* Segunda pantalla */

.continerSection2 {
    background-color: rgba(250, 239, 60, 0.2);
    display: flex;
    /* Para establecer que los bloques hijos se alinien en fila dentro del bloque padre*/
    flex-direction: row;
    /* para distribuir lo bloque con el mismo espacio entre ellos */
    justify-content: space-around;
}

.containerCifrar {
    display: flex;
    /* Para establecer que los bloques hijos se alinien en columna dentro del elemento padre*/
    flex-direction: column;
}

.resultado {
    display: flex;
    flex-direction: column;
}

.textArea {
    width: 400px;
    height: 200px;
}

.titulo {
    margin-bottom: 55px;
}


/* Botones */

.btnMsj {
    width: 400px;
    background-color: #f44336;
    padding: 12px 28px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 16px
}


/* imput */

.imputt {
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
}


/* ------------------------------------- */


/* Ocultando la primera pantalla */

#container-main {
    display: block;
}


/*Ocultando segunda pantalla*/

#container-maintwo {
    display: none;
    height: 500px;
}


/*Ocultando tercera pantalla*/

#container-mainthree {
    display: none;
    height: 500px;
}